<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>Atlassian Marketplace Tools</title>
    <link rel="stylesheet" href="{{ asset('assets/aui/css/aui.min.css') }}" media="all">
    <link rel="stylesheet" href="{{ asset('assets/aui/css/aui-experimental.min.css') }}" media="all">
    <link rel="stylesheet" href="{{ asset('assets/css/mpcrm.css') }}" media="all">
</head>
<body class="aui-page-fixed">
<div id="page">
    <header id="header" role="banner">
        <nav class="aui-header" role="navigation">
            <div class="aui-header-inner">
                <ul class="aui-nav">
                    <li><a href="{{ url('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url('sales') }}">Sales</a></li>
                    <li><a href="{{ url('licenses') }}">Licenses</a></li>
                    <li><a href="{{ url('scheduled_events') }}">Scheduled</a></li>
                    <li><a href="{{ url('events') }}">Events</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section id="content" role="main">
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-main">
                    <h1>{% block pageHeader %}Atlassian Marketplace Tools{% endblock %}</h1>
                </div>
            </div>
        </header>
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                    {% block content %}
                    {% endblock %}
                </section>
            </div>
        </div>
    </section>
    <footer id="footer" role="contentinfo">
    </footer>
</div>
<script src="{{ asset('assets/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('assets/aui/js/aui.min.js') }}"></script>
<script src="{{ asset('assets/vendor/highcharts.js') }}"></script>
{#<script src="{{ asset('assets/aui/js/aui-experimental.min.js') }}"></script>#}

{% block js %}{% endblock %}
</body>
</html>
