{% extends '::base.html.twig' %}

{% import ':other:macro.html.twig' as macro %}

{% block content %}

    <div class="aui-group">
        <div class="aui-item">
            <table class="aui">
                <thead>
                <tr>
                    <th><h6>id</h6></th>
                    <th><h6>addon</h6></th>
                    <th><h6>name</h6></th>
                    <th><h6>status</h6></th>
                    <th><h6>send at</h6></th>
                    <th><h6>actions</h6></th>
                </tr>
                </thead>
                <tbody>
                {% for event in scheduled %}
                    <tr>
                        <td>
                            <a href="{{ url('license_detail', {'licenseId': event.drillRegisteredSchema.licenseId}) }}">{{ event.drillRegisteredSchema.licenseId }}</a>
                        </td>
                        <td>{{ event.drillRegisteredSchema.addonKey }}</td>
                        <td>{{ event.drillSchemaEvent.name }}</td>
                        <td>{{ event.status }}</td>
                        <td>{{ event.sendDate|date('Y-m-d') }}</td>
                        <td class="buttons">
                            {#{{ macro.scheduledEventStatusAction(event) }}#}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
