{% extends '::base.html.twig' %}

{% from ':other:macro.html.twig' import drillProgress %}

{% block content %}
    <h2>License Details</h2>
    {% for license in licenses %}
    <div class="aui-group">
        <div class="aui-item">
            <h3>{{ license.addonName }}</h3>
            <table class="aui">
                <tbody>
                    <tr>
                        <td><h6>LICENSE ID</h6></td>
                        <td>{{ license.licenseId }}</td>
                    </tr>

                    <tr>
                        <td><h6>ORGANISATION NAME</h6></td>
                        <td>{{ license.organisationName }}</td>
                    </tr>

                    <tr>
                        <td><h6>ADDON</h6></td>
                        <td>{{ license.addonName }} ({{ license.addonKey }})</td>
                    </tr>

                    <tr>
                        <td><h6>TECHNICAL CONTACT</h6></td>
                        <td>
                            {{ license.techContactName }} <br/>
                            {{ license.techContactEmail }}
                        </td>
                    </tr>

                    <tr>
                        <td><h6>BILLING CONTACT</h6></td>
                        <td>
                            {{ license.billingContactName }} <br/>
                            {{ license.billingContactEmail }}
                        </td>
                    </tr>

                    <tr>
                        <td><h6>EDITION</h6></td>
                        <td>{{ license.edition }}</td>
                    </tr>

                    <tr>
                        <td><h6>LICENSE TYPE</h6></td>
                        <td>{{ license.licenseType }}</td>
                    </tr>

                    <tr>
                        <td><h6>START DATE</h6></td>
                        <td>{{ license.startDate|date('Y-m-d') }}</td>
                    </tr>

                    <tr>
                        <td><h6>END DATE</h6></td>
                        <td>{{ license.endDate|date('Y-m-d') }}</td>
                    </tr>

                    <tr>
                        <td><h6>RENEWAL ACTION</h6></td>
                        <td>{{ license.renewalAction }}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="aui-group">
        <div class="aui-item">
            <h3>Drill Progress for {{ license.addonName }}</h3>
            {% for drill in registeredDrills %}
                {{ license.addonKey == drill.addonKey ? drillProgress(drill) }}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    {% if sales is not empty %}
    <div class="aui-group">
        <div class="aui-item">
            <h2>Relevant Sales</h2>
            <table class="aui">
                {% set totalSales = 0 %}
                {% for sale in sales %}
                    {% set totalSales = totalSales + sale.vendorAmount %}
                    <tr>
                        <td>{{ sale.date|date('Y-m-d') }}</td>
                        <td>${{ sale.vendorAmount }}</td>
                        <td>{{ sale.pluginName }}</td>
                        <td>{{ sale.licenseSize}}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td><strong>Total:</strong></td>
                    <td><strong>${{ totalSales }}</strong></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}
