{% extends '::base.html.twig' %}

{% block content -%}
    <h2>Edit Event</h2>

    <button id="dialog-show-button" class="aui-button">Tokens Help</button>
    <section role="dialog" id="demo-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
        <header class="aui-dialog2-header">
            <h2 class="aui-dialog2-header-main">Available Tokens</h2>
            <a class="aui-dialog2-header-close">
                <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
            </a>
        </header>
        <div class="aui-dialog2-content">
            <table class="aui">
                <tr>
                    <td>%_TECH_CONTACT_%</td>
                    <td></td>
                </tr>
                <tr>
                    <td>%_ADDON_NAME_%</td>
                    <td></td>
                </tr>
                <tr>
                    <td>%_ADDON_KEY_%</td>
                    <td></td>
                </tr>
                <tr>
                    <td>%_ADDON_URL_%</td>
                    <td></td>
                </tr>
                <tr>
                    <td>%_LICENSE_KEY_%</td>
                    <td></td>
                </tr>
                <tr>
                    <td>%_LICENSE_ID_%</td>
                    <td></td>
                </tr>
                <tr>
                    <td>%_LICENSE_START_DATE_%</td>
                    <td></td>
                </tr>
                <tr>
                    <td>%_LICENSE_END_DATE_%</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </section>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="buttons-container">
        <div class="buttons">
            <button class="aui-button aui-button-primary" type="submit">Save</button>
            <a class="aui-button aui-button-text" href="{{ path('events') }}">Cancel</a>
        </div>
    </div>

    {{ form_rest(form) }}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('assets/ckeditor/ckeditor.js') }}"></script>

    <script type="text/javascript">
        CKEDITOR.replaceAll();

        AJS.$("#dialog-show-button").click(function () {
            AJS.dialog2("#demo-dialog").show();
        });

        AJS.$("#dialog-close-button").click(function (e) {
            e.preventDefault();
            AJS.dialog2("#demo-dialog").hide();
        });
    </script>
{% endblock %}
