{% extends '::base.html.twig' %}

{% import ':other:macro.html.twig' as macro %}

{% block content %}
    <div class="aui-group">
        <div class="aui-item">
            <table class="aui">
                <thead>
                <tr>
                    <th><h6>Name</h6></th>
                    <th><h6>Addon</h6></th>
                    <th><h6>License</h6></th>
                    <th><h6>Field</h6></th>
                    <th><h6>Shift</h6></th>
                    <th><h6>Actions</h6></th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.name }}</td>
                        <td>{{ event.addonKey }}</td>
                        <td>{{ event.licenseTypeCondition }}</td>
                        <td>{{ event.dateField }}</td>
                        <td>{{ event.dateShift }}</td>
                        <td>
                            <a class="aui-button" href="{{ path('event_edit', { 'id': event.id }) }}">edit</a>
                            <a class="aui-button" href="{{ path('event_send_test', { 'id': event.id }) }}">test</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="aui-group">
        <div class="aui-item">
            <a class="aui-button aui-button-primary" href="{{ path('event_new') }}">Create</a>
        </div>
    </div>
{% endblock %}
