{% import ':other:macro.html.twig' as macro %}

{% if licenses|default(false) %}
    <table class="aui">
        <thead>
        <tr>
        {% if licenses.template|default(false) %}
            <th><h6>{{ knp_pagination_sortable(licenses, 'id', 'l.addonLicenseId') }}</h6></th>
            <th><h6>{{ knp_pagination_sortable(licenses, 'organisation', 'l.organisationName') }}</h6></th>
            <th><h6>{{ knp_pagination_sortable(licenses, 'addon', 'l.addonName') }}</h6></th>
            <th><h6>{{ knp_pagination_sortable(licenses, 'type', 'l.licenseType') }}</h6></th>
            <th><h6>{{ knp_pagination_sortable(licenses, 'start date', 'l.maintenanceStartDate') }}</h6></th>
            <th><h6>{{ knp_pagination_sortable(licenses, 'end date', 'l.maintenanceEndDate') }}</h6></th>
        {% else %}
            <th><h6>id</h6></th>
            <th><h6>organisation</h6></th>
            <th><h6>addon</h6></th>
            <th><h6>type</h6></th>
            <th><h6>start date</h6></th>
            <th><h6>end date</h6></th>
        {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for license in licenses %}
            <tr>
                <td>{{ macro.companyUrl(license.company.senId) }}</td>
                <td>
                    {{ license.company.company }}
                    {% if license.renewalAction == 'AUTO_QUOTE' %}
                        <span class="aui-lozenge aui-lozenge-current">quote</span>
                    {% endif %}
                </td>
                <td>{{ license.addon.addonName }}</td>
                <td>
                    {{ license.licenseType }}
                    {% set lastTransaction = license.getLastTransaction() %}
                    {% if lastTransaction %}
                        <span class="aui-lozenge aui-lozenge-success aui-lozenge-subtle">${{ lastTransaction.vendorAmount }}</span>
                    {% endif %}
                </td>
                <td>{{ license.maintenanceStartDate|date('Y-m-d') }}</td>
                <td>{{ license.maintenanceEndDate|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Nothing for today</p>
{% endif %}