{% macro scheduledEventStatusAction(event) %}
    {% set display = false %}
    {% if event.status in ['scheduled'] %}
        {% set action = 'Cancel' %}
        {% set status = 'cancelled' %}
        {% set display = true %}
    {% endif %}

    {% if event.status in ['error', 'cancelled'] %}
        {% set action = 'Reschedule' %}
        {% set status = 'scheduled' %}
        {% set display = true %}
    {% endif %}

    {% if display %}
        <a href="{{ url('scheduled_event_change_status', {'id': event.id, 'status': status}) }}" class="aui-button">{{ action }}</a>
    {% endif %}
{% endmacro %}

{% macro licenseUrl(licenseId) %}
    <a href="{{ url('license_detail', {'licenseId': licenseId}) }}">{{ licenseId }}</a>
{% endmacro %}

{% macro drillProgress(drill) %}
    {% set width = 100 / drill.drillRegisteredEvents|length %}
    <ol class="aui-progress-tracker">
        {% for event in drill.drillRegisteredEvents|sort_events_by_date %}
            {% set class = event.status == 'sent' ? 'aui-progress-tracker-step-current' : '' %}
            <li class="aui-progress-tracker-step {{ class }}" style="width:{{ width }}%"><span>{{ event.drillSchemaEvent.name }}</span></li>
        {% endfor %}
    </ol>
{% endmacro %}