    <table class="aui">
        <thead>
        <tr>
            <th><h6>id</h6></th>
            <th><h6>organisation</h6></th>
            <th><h6>Plugin</h6></th>
            <th><h6>Vendor Amount</h6></th>
            <th><h6>type</h6></th>
            <th><h6>date</h6></th>
        </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td><a href="{{ path('sale_detail', {'invoice': sale.invoice}) }}">{{ sale.licenseId }}</a></td>
                <td>{{ sale.organisationName }}</td>
                <td>{{ sale.PluginName }}</td>
                <td>{{ sale.vendorAmount }}</td>
                <td>{{ sale.saleType }}</td>
                <td>{{ sale.date|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
