{% extends '::base.html.twig' %}

{% block content %}
    <h2>Expiring soon</h2>
    <div class="aui-group">
        <div class="aui-item">
            {% include ':other:license_table.html.twig' with {'licenses': expiringSoon} %}
        </div>
    </div>

    <h2>Recent Sales</h2>
    <div class="aui-group">
        <div class="aui-item">
            <table class="aui">
                {% for month, sale in sales %}
                    {% set total = 0 %}
                    {% for amount in sale %}
                        {% set total = total + amount %}
                    {% endfor %}
                    <tr>
                        <td>{{ month }}</td>
                        <td><strong>${{ total }}</strong></td>
                    </tr>
                {% endfor %}
                <tr></tr>
            </table>
        </div>
        <div class="aui-item centered-content">
            <div id="sale-chart" style="width:100%; height:300px;"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var months = [];
        var newSales = [];
        var renewals = [];
        var others = [];

        {% for month, sale in sales %}
        months.push("{{ month }}");
            {% for type, amount in sale %}
                {% if 'new' == type %}
                    newSales.push({{ amount }});
                {% elseif 'renewal' == type %}
                    renewals.push({{ amount }});
                {% else %}
                    others.push({{ amount }});
                {% endif %}
            {% endfor %}
        {% endfor %}

        $('#sale-chart').highcharts({
            chart: {
                type: 'area'
            },
            credits: {
                enabled: false
            },
            title: {
                text: '',
                floating: true
            },
            xAxis: {
                categories: months,
                tickmarkPlacement: 'on',
                title: {
                    enabled: false
                }
            },
            yAxis: {
                title: {
                    enabled: false
                }
            },
            tooltip: {
                shared: true,
                valuePrefix: '$ '
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            series: [{
                name: 'New',
                data: newSales,
                color: '#4a6785'
            }, {
                name: 'Renewal',
                data: renewals,
                color: '#59afe1'
            }, {
                name: 'Other',
                data: others,
                color: '#84bbc6'
            }]
        });
    </script>
{% endblock %}