{% extends '::base.html.twig' %}

{% block content -%}
    <h2>Templates</h2>

    <div class="aui-group">
        <div class="aui-item">
            <table class="aui">
                <thead>
                <tr>
                    <th><h6>Id</h6></th>
                    <th><h6>Name</h6></th>
                    <th><h6>Actions</h6></th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('template_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.name }}</td>
                        <td>
                            <div class="aui-buttons">
                                <a class="aui-button" href="{{ path('template_show', { 'id': entity.id }) }}">show</a>
                                <a class="aui-button" href="{{ path('template_edit', { 'id': entity.id }) }}">edit</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="aui-group">
        <div class="aui-item">
            <a class="aui-button aui-button-primary" href="{{ path('template_new') }}">Create</a>
        </div>
    </div>
{% endblock %}
